.glowingcustomcheckbox-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.glowingcustomcheckbox-input[type="checkbox"] {
  position: relative;
  width: 120px;
  height: 40px;
  -webkit-appearance: none;
  background: linear-gradient(0deg, #333, #000);
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 0 4px #353535,
    0 0 0 5px #3e3e3e,
    inset 0 0 10px rgba(0, 0, 0),
    0 5px 20px rgba(0, 0, 0, 0.5),
    inset 0 0 15px rgba(0, 0, 0, 0.2);
}
.glowingcustomcheckbox-input:checked[type="checkbox"] {
  background: linear-gradient(0deg, #03a9be, #1e727d);
  box-shadow: 0 0 2px #03a9be, 0 0 0 4px #353535,
    0 0 0 5px #3e3e3e,
    inset 0 0 10px rgba(0, 0, 0),
    0 5px 20px rgba(0, 0, 0, 0.5),
    inset 0 0 15px rgba(0, 0, 0, 0.2);
}
.glowingcustomcheckbox-input[type="checkbox"]:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 80px;
  height: 40px;
  background: linear-gradient(0deg, #000, #6b6b6b);
  border-radius: 20px;
  box-shadow: 0 0 0 1px #232323;
  transform: scale(.98, .96);
  transition: .5s;
}
.glowingcustomcheckbox-input:checked[type="checkbox"]:before {
  left: 40px;
}
.glowingcustomcheckbox-input[type="checkbox"]:after {
  position: absolute;
  top: calc(50% - 2px);
  left: 65px;
  content: '';
  width: 4px;
  height: 4px;
  background: linear-gradient(0deg, #6b6b6b, #000);
  border-radius: 50%;
  transition: .5s;
}
.glowingcustomcheckbox-input:checked[type="checkbox"]:after {
  left: 105px;
  background: #03a9be;
  box-shadow: 0 0 5px #01aac0, 0 0 15px #00c9e4;
}