@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,700,800,900&display=swap');
* {
  margin: 0;
  box-sizing: border-box !important;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow: hidden;
  padding: 0 !important;
}

.gmlogin-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: none;
  max-height: none;
  background: linear-gradient(180deg, #f1f4f9, #dff1ff);
}

.gmlogin-section .gmlogin-color {
  position: absolute;
  filter: blur(150px);
}

.gmlogin-section .gmlogin-color:nth-child(1) {
  top: -350px;
  width: 100%;
  height: 600px;
  background: #30a0fc;
}

.gmlogin-section .gmlogin-color:nth-child(2) {
  bottom: -150px;
  right: 0px;
  width: 70%;
  height: 500px;
  background: #ff56cb;
}

.gmlogin-section .gmlogin-color:nth-child(3) {
  bottom: -50px;
  right: 0;
  width: 300px;
  height: 300px;
  background: #ff9191;
}

.gmlogin-box {
  position: relative;
}

.gmlogin-box .gmlogin-square {
  position: absolute;
  backdrop-filter: blur(5px);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  animation: animate 10s linear infinite;
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(40px);
  }
}

.gmlogin-box .gmlogin-square:nth-child(1) {
  top: -50px;
  right: -60px;
  width: 100px;
  height: 100px;
  animation-delay: calc(-1s);
}

.gmlogin-box .gmlogin-square:nth-child(2) {
  top: 150px;
  left: -100px;
  width: 120px;
  height: 120px;
  z-index: 2;
  animation-delay: calc(-2s);
}

.gmlogin-box .gmlogin-square:nth-child(3) {
  bottom: 50px;
  right: -60px;
  width: 80px;
  height: 80px;
  z-index: 2;
  animation-delay: calc(-3s);
}

.gmlogin-box .gmlogin-square:nth-child(4) {
  bottom: -80px;
  left: 100px;
  width: 50px;
  height: 50px;
  animation-delay: calc(-4s);
}

.gmlogin-box .gmlogin-square:nth-child(5) {
  top: -80px;
  left: 140px;
  width: 60px;
  height: 60px;
  animation-delay: calc(-5s);
}

.gmlogin-container {
  position: relative;
  width: 400px;
  min-height: 400px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.gmlogin-form {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px !important;
}

.gmlogin-form h2 {
  position: relative;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.gmlogin-form h2::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: -10px;
  width: 80px;
  height: 4px;
  background: #fff;
}

.gmlogin-form .gmlogin-inputBox {
  width: 100%;
  margin-top: 20px;
}

.gmlogin-form .gmlogin-inputBox input {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  padding: 10px 20px !important;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.05);
}

.gmlogin-form .gmlogin-inputBox input::placeholder {
  color: #fff;
}

.gmlogin-form .gmlogin-inputBox input[type="submit"] {
  background: #fff;
  color: #666;
  max-width: 100px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 600;
}

.gmlogin-forget {
  margin-top: 5px;
  color: #fff;
}

.gmlogin-forget a {
  color: #fff;
  font-weight: 600;
}

.gmlogin-signup {}